
body{
    background-color: rgb(19, 1, 1);
}
.table{
    color: #ffffff;
}
h1{
    color: whitesmoke;
}
#delete {
    align-items: right;
}
#alertMessage {
    margin: 0 auto;
  }
.modal-content {
    background-color: #000000; 
    color: #ffffff; 
    border-radius: 10px;
    border: 1px solid ; 
    border-radius: 20px; 
    animation: rainbowBorder 5s linear infinite;
  }
  @keyframes rainbowBorder {
    0% { border-color: red; }
    14% { border-color: orange; }
    28% { border-color: yellow; }
    42% { border-color: green; }
    57% { border-color: blue; }
    71% { border-color: indigo; }
    85% { border-color: violet; }
    100% { border-color: red; }
  }
.input-group{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  .search-button {
    background-color: #007bff; /* Cor de fundo do botão (azul) */
    color: #ffffff; /* Cor do texto do botão (branco) */
    border-color: #007bff; /* Cor da borda do botão (azul) */
  }
  
  .search-button:hover {
    background-color: #0056b3; /* Cor de fundo do botão ao passar o mouse */
    border-color: #0056b3; /* Cor da borda do botão ao passar o mouse */
  }
  .search-input {
    width: 150px;
  }
  .custom-alert {
    max-height: 5;
    margin: 0 auto;
    border-radius: 4px;
    padding: 12px;
    font-size: 14px;
    line-height: 1.5;
    max-height: 5;
  }
  .form-group{
    color: white;

  }