body{
    background-color: rgb(19, 1, 1);
}
h1{
    color: whitesmoke;
}
#delete {
    align-items: right;
}
.modal-content {
    background-color: whitesmoke;

}
.input-group{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .search-input {
    width: 150px;
  }